<!doctype html>
<html lang="en" ng-app="game">
<head>
  <meta charset="utf-8">
  <title>Oh the Humanity!</title>
  <link rel="stylesheet" href="css/game.css">
</head>
<body ng-controller="GameController">
  <div ng-view>Welcome to Oh the Humanity.</div>
  <!--
  <ul>
    <li ng-repeat="card in cards.black_cards">{{card}}</li>
  </ul>
  <ul>
    <li ng-repeat="card in cards.white_cards">{{card}}</li>
  </ul>

  -->
  <input type="button" value="End Turn" ng-click="endTurn()" />

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="/_ah/channel/jsapi"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/models.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/game.js"></script>
  <script src="js/services.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <!-- Tests -->
  <script src="js/tests.js"></script>
  <script src="js/models_test.js"></script>
</body>
</html>
